# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CG_skel/v16/.suo
/.vs/CG_skel/v16/Browse.VC.db
/.vs/CG_skel/v16/Browse.VC.db-shm
/.vs/CG_skel/v16/Browse.VC.db-wal
/.vs/CG_skel/v16/Browse.VC.opendb
/.vs/CG_skel/v16/ipch/466b926e4ed6b2a0.ipch
/.vs/CG_skel/v16/Solution.VC.db
/.vs/CG_skel/v16/Solution.VC.db-shm
/.vs/CG_skel/v16/Solution.VC.db-wal
/CG_skel.sln
/CG_skel.suo
/CG_skel.v12.suo
/CG_skel_w_MFC/CG_skel_w_MFC.aps
/CG_skel_w_MFC/CG_skel_w_MFC.rc
/CG_skel_w_MFC/CG_skel_w_MFC.vcproj
/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj
/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj.filters
/CG_skel_w_MFC/CG_skel_w_MFC.vcxproj.user
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.exe.recipe
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.ilk
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.log
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.res
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/CG_skel_w_MFC.lastbuildstate
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/CL.command.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/CL.read.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/CL.write.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/link.command.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/link.read.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/link.write.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/rc.command.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/rc.read.1.tlog
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.tlog/rc.write.1.tlog
/CG_skel_w_MFC/Debug/vc142.idb
/CG_skel_w_MFC/Debug/vc142.pdb
/CG_skel_w_MFC/fshader.glsl
/CG_skel_w_MFC/ReadMe.txt
/CG_skel_w_MFC/vshader.glsl
/Debug/CG_skel_w_MFC.pdb
/Debug/freeglut.idb
/Debug/freeglut.pdb
/Debug/glew.idb
/Debug/glew.pdb
/freeglut/Debug/freeglut.lib.recipe
/freeglut/Debug/freeglut.log
/freeglut/Debug/freeglut.tlog/CL.command.1.tlog
/freeglut/Debug/freeglut.tlog/CL.read.1.tlog
/freeglut/Debug/freeglut.tlog/CL.write.1.tlog
/freeglut/Debug/freeglut.tlog/freeglut.lastbuildstate
/freeglut/Debug/freeglut.tlog/Lib.command.1.tlog
/freeglut/Debug/freeglut.tlog/Lib-link.read.1.tlog
/freeglut/Debug/freeglut.tlog/Lib-link.write.1.tlog
/freeglut/freeglut.vcproj
/freeglut/freeglut.vcxproj
/freeglut/freeglut.vcxproj.filters
/freeglut/freeglut.vcxproj.user
/freeglut/include/GL/freeglut.h
/freeglut/include/GL/freeglut_ext.h
/freeglut/include/GL/freeglut_std.h
/freeglut/include/GL/glut.h
/freeglut/include/GL/Makefile.am
/freeglut/include/GL/Makefile.in
/freeglut/include/Makefile.am
/freeglut/include/Makefile.in
/freeglut/src/freeglut_callbacks.c
/freeglut/src/freeglut_cursor.c
/freeglut/src/freeglut_display.c
/freeglut/src/freeglut_ext.c
/freeglut/src/freeglut_font.c
/freeglut/src/freeglut_font_data.c
/freeglut/src/freeglut_gamemode.c
/freeglut/src/freeglut_geometry.c
/freeglut/src/freeglut_glutfont_definitions.c
/freeglut/src/freeglut_init.c
/freeglut/src/freeglut_input_devices.c
/freeglut/src/freeglut_internal.h
/freeglut/src/freeglut_joystick.c
/freeglut/src/freeglut_main.c
/freeglut/src/freeglut_menu.c
/freeglut/src/freeglut_misc.c
/freeglut/src/freeglut_overlay.c
/freeglut/src/freeglut_spaceball.c
/freeglut/src/freeglut_state.c
/freeglut/src/freeglut_stroke_mono_roman.c
/freeglut/src/freeglut_stroke_roman.c
/freeglut/src/freeglut_structure.c
/freeglut/src/freeglut_teapot.c
/freeglut/src/freeglut_teapot_data.h
/freeglut/src/freeglut_videoresize.c
/freeglut/src/freeglut_window.c
/freeglut/src/freeglutdll.def
/freeglut/src/Makefile.am
/freeglut/src/Makefile.in
/freeglut/src/templates/cpp_template
/freeglut/src/templates/header_template
/glew/Debug/glew.lib.recipe
/glew/Debug/glew.log
/glew/Debug/glew.tlog/CL.command.1.tlog
/glew/Debug/glew.tlog/CL.read.1.tlog
/glew/Debug/glew.tlog/CL.write.1.tlog
/glew/Debug/glew.tlog/glew.lastbuildstate
/glew/Debug/glew.tlog/Lib.command.1.tlog
/glew/Debug/glew.tlog/Lib-link.read.1.tlog
/glew/Debug/glew.tlog/Lib-link.write.1.tlog
/glew/glew.vcproj
/glew/glew.vcxproj
/glew/glew.vcxproj.filters
/glew/glew.vcxproj.user
/glew/include/GL/glew.h
/glew/include/GL/glxew.h
/glew/include/GL/wglew.h
/glew/src/glew.c
/glew/src/glewinfo.c
/glew/src/visualinfo.c
/README.txt
/UpgradeLog.XML
/.vs/CG_skel/v16/ipch
/.vs/CG_skel/v16/ipch/9b54219ad57c50d5.ipch
/.vs/CG_skel/v16/ipch/AutoPCH/388bc67ee46d93fd/FREEGLUT_CALLBACKS.ipch
/.vs/CG_skel/v16/ipch/AutoPCH/4d6db24ce4b5418c/FREEGLUT_MAIN.ipch
/.vs/CG_skel/v16/ipch/AutoPCH/5150437d2b3bc27e/FREEGLUT_MENU.ipch
/CG_skel_w_MFC/Release/CG_skel_w_MFC.tlog
/glew/Release/glew.tlog/
/freeglut/Release/freeglut.tlog
/freeglut/Release/freeglut.lib.recipe
/freeglut/Release/freeglut.log
/glew/Release/glew.lib.recipe
/glew/Release/glew.log
/Release/freeglut.pdb
/Release/glew.pdb
/CG_skel_w_MFC/Release/CG_skel_w_MFC.exe.recipe
/CG_skel_w_MFC/Release/CG_skel_w_MFC.iobj
/CG_skel_w_MFC/Release/CG_skel_w_MFC.ipdb
/CG_skel_w_MFC/Release
/CG_skel_w_MFC/Release/CG_skel_w_MFC.res
/CG_skel_w_MFC/.CG_skel_w_MFC.cpp.swp
/CG_skel_w_MFC/.CG_skel_w_MFC_BASE_670.cpp.swp
/CG_skel_w_MFC/.CG_skel_w_MFC_LOCAL_670.cpp.swp
/CG_skel_w_MFC/.CG_skel_w_MFC_REMOTE_670.cpp.swp
/CG_skel_w_MFC/CG_skel_w_MFC_BACKUP_670.cpp
/CG_skel_w_MFC/CG_skel_w_MFC_BASE_670.cpp
/CG_skel_w_MFC/CG_skel_w_MFC_LOCAL_670.cpp
/CG_skel_w_MFC/CG_skel_w_MFC_REMOTE_670.cpp
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.Build.CppClean.log
/CG_skel_w_MFC/Debug/CG_skel_w_MFC.vcxproj.FileListAbsolute.txt
/freeglut/Debug/freeglut.Build.CppClean.log
/freeglut/Debug/freeglut.vcxproj.FileListAbsolute.txt
/glew/Debug/glew.Build.CppClean.log
/glew/Debug/glew.vcxproj.FileListAbsolute.txt
/x64/Release/glew.pdb
/x64/Release/freeglut.pdb
/x64/Release
/glew/x64/Release/glew.tlog/Lib.command.1.tlog
/glew/x64/Release/glew.tlog/Lib-link.write.1.tlog
/glew/x64/Release/glew.tlog/Lib-link.read.1.tlog
/glew/x64/Release/glew.tlog/glew.lastbuildstate
/glew/x64/Release/glew.tlog/CL.write.1.tlog
/glew/x64/Release/glew.tlog/CL.read.1.tlog
/glew/x64/Release/glew.tlog/CL.command.1.tlog
/glew/x64/Release/glew.tlog
/glew/x64/Release/glew.log
/glew/x64/Release/glew.lib.recipe
/glew/x64/Release
/freeglut/x64/Release/freeglut.tlog/Lib.command.1.tlog
/freeglut/x64/Release/freeglut.tlog/Lib-link.write.1.tlog
/freeglut/x64/Release/freeglut.tlog/Lib-link.read.1.tlog
/freeglut/x64/Release/freeglut.tlog/freeglut.lastbuildstate
/freeglut/x64/Release/freeglut.tlog/CL.write.1.tlog
/freeglut/x64/Release/freeglut.tlog/CL.read.1.tlog
/freeglut/x64/Release/freeglut.tlog/CL.command.1.tlog
/freeglut/x64/Release/freeglut.tlog
/freeglut/x64/Release/freeglut.log
/freeglut/x64/Release/freeglut.lib.recipe
/freeglut/x64/Release
/CG_skel_w_MFC/x64/Release/vc142.pdb
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/rc.write.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/rc.read.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/rc.command.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/link.write.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/link.read.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/link.command.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/CL.write.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/CL.read.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/CL.command.1.tlog
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.tlog/CG_skel_w_MFC.lastbuildstate
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.res
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.log
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.ipdb
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.iobj
/CG_skel_w_MFC/x64/Release/CG_skel_w_MFC.exe.recipe
/glew/Release/glew.vcxproj.FileListAbsolute.txt
/glew/Release/glew.Build.CppClean.log
/freeglut/Release/freeglut.vcxproj.FileListAbsolute.txt
/freeglut/Release/freeglut.Build.CppClean.log
